* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #011f61;
    font-weight: 600;
    transition: opacity 0.3s;
    opacity: 1;
}

a:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
}

#about::before,
#experience::before,
#education::before,
#projects::before,
#skills::before,
#contact::before {
    display: block;
    content: " ";
    margin-top: -47.2px;
    height: 47.2px;
    visibility: hidden;
    pointer-events: none;
}

#experience,
#skills {
    background-color: rgba(242, 242, 242, 0.6);
}

.container {
    padding: 75px;
}

/*-----------------------------------------------------------------------------------*/
/*                                     NavBar                                        */
/*-----------------------------------------------------------------------------------*/
.navbar {
    background: #002060;
    text-align: center;
    z-index: 2;
    width: 100%;
    position: fixed;
    padding: 4px 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 16px;
    font-weight: 200;
    width: 115px;
}

.navbar a:hover {
    background-color: white;
    color: #002060;
    border-radius: 19.6px;
    font-weight: 800;
}


/*-----------------------------------------------------------------------------------*/
/*                                     Header                                        */
/*-----------------------------------------------------------------------------------*/
.header {
    background: #002060;
    ackground: url("../images/zV9Zm.jpg") no-repeat 50% 50%;
    background-size: cover;
    text-align: center;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 6em;
}

h2 {
    text-align: center;
}

.header p {
    font-size: 2em;
    font-weight: 400;
}

.header a {
    display: inline-block;
    margin: 20px;
    color: white;
}

.header h1:after {
    content: ' ';
    position: absolute;
    display: block;
    width: 700px;
    margin: 0 2%;
    border-bottom: 2px solid #ffffff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    padding-bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* .title h2:after {
    position: absolute;
    display: block;
    width: 700px;
    margin: 0 2%;
    border-bottom: 2px solid #000000;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    padding-bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
} */

.title > h2 {
    position: absolute;
    display: block;
    text-align: center;
    /* margin: 0 2%; */
}

.line {
    width: 700px;
    height: 2px;
    background-color: #000;
    margin: 20px auto;
}

.title h3:after {
    content: ' ';
    display: block;
    width: 400px;
    margin: 0 2%;
    border-bottom: 2px solid #000000;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    padding-bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}


#animated {
    margin-top: 50px;
}

#down {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

/*-----------------------------------------------------------------------------------*/
/*                                     About                                         */
/*-----------------------------------------------------------------------------------*/
#about {
    text-align: center;
    padding: 0 200px 200px 200px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

#about-text {
    margin-top: 3em;
    line-height: 30px;
    text-align: justify;
    justify-items: center;
}

#about-quote {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

#profilepic {
    max-height: 130px;
    max-width: 130px;
    border-radius: 100px;
    margin: 50px auto;
}

/*-----------------------------------------------------------------------------------*/
/*                              Interests Wheel                                      */
/*-----------------------------------------------------------------------------------*/

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-top: 100px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    padding-bottom: 100px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #000000;
    font-size: 15px;
    padding: 90px 465px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #002060;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*-----------------------------------------------------------------------------------*/
/*                                     Experience                                    */
/*-----------------------------------------------------------------------------------*/
#experience {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}


/*-----------------------------------------------------------------------------------*/
/*                                     Projects                                      */
/*-----------------------------------------------------------------------------------*/
.projects {
    display: flex;
    flex-flow: wrap;
    flex-wrap: wrap;
}

.projects .proj {
    flex: 1;
}

.projects .proj:hover {
    transform: scale(1.1);
}

.projects {
    padding: 5px;
}

.projects .portfolio {
    background-image: url("../images/portfolio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projects .google {
    background-image: url("../images/trntable.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projects .nodem {
    background-image: url("../images/nodeM.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projects .cryptex {
    background-image: url("..images/pspassist.PNG");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projects .hand {
    background-image: url("..images/optimizeU.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#projects,
#projects .sec-content {
    background-color: #f5f5f5;
}

.projects .proj {
    width: auto;
    height: 300px;
    min-width: 300px;
    background-color: var(--light-blue);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: -1;
    margin: 5px;
}

.projects .cover {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    padding: 25px;
}

.projects .cover h3 {
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid white;
}

.projects .cover p {
    color: white;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    padding-bottom: 5px;
}

.projects .cover .programs {
    color: #aad922;
    font-style: italic;
}

.projects .cover a {
    color: var(--light-blue);
    font-size: 12px;
    font-weight: 500;
}

.projects .cover .button {
    color: black;
    background: white;
    font-size: 12px;
    border: none;
    padding: 5px;
    margin: 3px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    width: 90px;
}

.projects .proj:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.projects .proj:hover .cover {
    background-color: rgba(0, 0, 0, 1);
}

.projects .proj:hover .cover a,
.projects .proj:hover .cover h3,
.projects .proj:hover .cover p {
    visibility: visible;
    opacity: 1;
}

/* #project {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    align-items: center;
    justify-items: center;
}

.project-cards {
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 25px;
    justify-content: center;
}

.project-cards img {
    width: 100%;
    height: 80%;
    display: block;
    object-fit: cover;
    border: 100px solid rgba(255, 255, 255, .5);
    border-radius: 25px;
}

.proj-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
} */

/* Skills */
#skills {}

/*-----------------------------------------------------------------------------------*/
/*                                     Contact                                       */
/*-----------------------------------------------------------------------------------*/
#contact>div {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    text-align: center;
}

#contact img {
    width: 70%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-left: 100px;
    margin-top: 50px;
}

#vertical-line {
    display: flex;
    margin-top: 90px;
    margin-right: 50px;
}

#vertical-line div {
    flex: 1;
    height: 100%;
}

.one {
    border-right: 1px solid black;
}

.two {
    border-left: 1px solid black;
}

#contact>div .title {
    width: 50%;
    border-bottom: 1px solid black;
    height: 1.5em;
    margin-bottom: 30px;
    padding-top: 30px;
}

#contact>div .title::after {
    width: 50%;
    border-bottom: 1px solid black;
    height: 1.5em;
    margin-bottom: 30px;
    padding-top: 30px;
}

#contact-text {
    padding-left: 170px;
}

#resume {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 30px;
}

#email-me {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(0, 1fr);
    padding: 30px;
}

.contact-grid {
    margin-left: 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas:
        "name email"
        "subject subject"
        "message message"
        "button button";
}

.contact-grid input,
.contact-grid textarea {
    background-color: whitesmoke;
    outline: none;
    border: none;
    box-shadow: none;
    padding: 10px;
    color: black;
    resize: none;
}

.contact-grid input::placeholder,
.contact-grid textarea::placeholder {
    color: black;
}

#name {
    grid-area: name;
}

#email {
    grid-area: email;
}

#subject {
    grid-area: subject;
}

#message {
    grid-area: message;
    resize: none;
}

#send {
    grid-area: button;
    margin-top: 5px;
    padding: 10px;
    line-height: 30px;
    font-weight: 800;
    border: none;
    background-color: #002060;
    font-weight: 600;
    color: white;
}

/*-----------------------------------------------------------------------------------*/
/*                                     Footer                                        */
/*-----------------------------------------------------------------------------------*/
#footer {
    background: #002060;
    opacity: 0.9;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    text-align: center;
}

#footer .socials-media {
    width: 100%;
    align-self: center;
}

#footer .socials-media ul {
    display: inline-block;
    list-style-type: none;
    float: none;
    margin: 0 0 20px 0;
}

#footer .socials-media ul li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

#footer .socials-media ul li a {
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 0.1em;
    font-weight: 500;
    background: transparent;
    text-transform: uppercase;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
    color: #4682B4;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

#footer p {
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-top: 0;
    text-transform: uppercase;
}